.navbarPrincipal{
  padding-left: 1rem;
  padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: #1C1C2E;
    border-bottom: 2px solid #37474F;
    
  }

  .logo{
    width: 100%;
    
  }

.navbarSecond{
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.navbarSecond a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}

.navbarSecond a:hover{
    color: #00E5FF;
}